RewriteEngine On

#RewriteRule ^content/([a-zA-Z0-9-/]+)/$ content.php?id=$1 [L,NC]

#RewriteRule ^content/(\w+)\.html content.php?id=$1 [L]

#RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule . content.php [L,QSA]

RewriteRule ^content/([0-9]*)/([a-zA-Z0-9-/]+) /content.php?id=$1 [L,NC]

RewriteRule ^category/([0-9]*)/([a-zA-Z0-9-/]+) /category.php?id=$1 [L,NC]
RewriteRule ^blog/([0-9]*)/([a-zA-Z0-9-/]+) /blog.php?id=$1 [L,NC]

RewriteRule ^content/([0-9]*) /content.php?id=$1 [L,NC]
RewriteRule ^category/([0-9]*) /category.php?id=$1 [L,NC]
RewriteRule ^blog/([0-9]*) /blog.php?id=$1 [L,NC]

# EX

#RewriteRule ^author/(.*)/?$ /category-author.php?author=$1 [L,NC]
#RewriteRule ^type/(.*)/?$ /category-type.php?type=$1 [L,NC]
#RewriteRule ^category/(.*)/?$ /category.php?cat=$1 [L,NC]
#RewriteRule ^date/(.*)/(.*)/?$ /date.php?year=$1&month=$2 [L,NC]
#RewriteRule ^([a-zA-Z0-9-/]+)$ /post.php?slug=$1 [L,NC]

#this returns the page toogood.org.uk/test/index.php?slug=x to toogood.org.uk/x
#RewriteRule ^test/([a-zA-Z0-9-/]+)$ /test/index.php?slug=$1 [QSA]
#this returns the page toogood.org.uk/test/index.php?slug=x to toogood.org.uk/test/x

ErrorDocument 404 /404.php

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule \.(gif|jpe?g|png|bmp) /404img.png [NC,L]

RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Now, rewrite any request to the wrong domain to use www.
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]



